/* Background Styling */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
    background: white;
  }
  
  /* Login Box */
  .login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Header */
  .login-box h2 {
    color:#b71c1c;
    margin-bottom: 15px;
    font-size: 22px;
  }
  
  /* Form Labels */
  .login-box label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin: 8px 0 5px;
    font-weight: 500;
    color: #333;
  }
  
  /* Input Fields */
  .login-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  /* Submit Button */
  .login-box button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
  }
  
  .login-box button:hover {
    background: #222;
  }
  
  /* Signup Link */
  .login-box p {
    margin-top: 12px;
    font-size: 14px;
  }
  
  .login-box a {
    color: #b71c1c;
    text-decoration: none;
    font-weight: bold;
  }
  